
<div class="row">
	<div class="" ng-class="smallinput ? 'col-lg-5 col-md-5 col-sm-5' : 'col-lg-12 col-md-12 col-sm-12'">
		<i class="fa fa-spinner fa-spin form-control-feedback" ng-show="loading"></i>
		<input class="form-control has-feedback" ng-class="{'input-side-borders': modalOpen}" type="text" ng-trim="true" ng-model="input" ng-blur="!loading && update()" placeholder="SOEID" ng-disabled="items.length>=limit || loading">
		<span class="error" ng-show="limitError">Limited to {{limit}}.</span>
	</div>
	<div class="contributor-input" ng-class="smallinput ? 'col-lg-5 col-md-5 col-sm-5' : 'col-lg-12 col-md-12 col-sm-12'" ng-if="showinput">
		<div class="pill" ng-class="smallinput ? 'pad-left' : 'pad-right'" ng-repeat="item in items | limitTo: display | orderBy:$index:true track by $index"><span>{{item.user.userDimension.firstName}} {{item.user.userDimension.lastName}}</span><span class="icon-Close" ng-click="remove(item)"></span></div>
		<div class="pill" ng-show="showAll()" ng-click="openModal('contributors')"><span>...</span></div>
	</div>
</div>