<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="nopadding spinner spinner-right" ng-class="smallinput ? 'col-lg-5 col-md-5 col-sm-5' : 'col-lg-12 col-md-12 col-sm-12'">
			<i class="fa fa-spinner fa-spin form-control-feedback" ng-show="loading"></i>
			<input class="form-control all-caps has-feedback" type="text" ng-trim="true" ng-model="input" ng-blur="!loading && update()" ng-disabled="items.length>=limit || loading" placeholder="SOEID">
			<span class="error" ng-show="limitError">Limited to {{limit}}.</span>
		</div>
		<div class="contributor-input" ng-class="smallinput ? 'col-lg-5 col-md-5 col-sm-5' : 'col-lg-12 col-md-12 col-sm-12'" ng-if="showinput">
			<div class="pill" ng-class="smallinput ? 'pad-left' : 'pad-right'" ng-repeat="item in items | limitTo: display | orderBy:$index:true track by $index"><span>{{item.userDimension.firstName}} {{item.userDimension.lastName}}</span><span class="icon-Close" ng-click="remove(item)"></span></div>
			<div class="pill" ng-show="showAll()"><span>...</span></div>
		</div>
		<button type="button" ng-show="showAll() && showinput" class="btn btn-primary"  ng-click="openModal('contributors')">View All <span>({{items.length}})</span></button>
	</div>
</div>