
<!--error handling on-->
<div ng-if="errorHandling" class="form-group" ng-class="{ 'has-error' : formname['contributor_' + id].$invalid && (formname['contributor_' + id].$touched || formname.$submitted), required: required }">
    <label ng-if="label" class="control-label" for="['contributor_' + id]">{{label}}</label>
    <div ng-include="template"></div>
    <div class='help-block' ng-messages="formname['contributor_' + id].$error" ng-if="formname['contributor_' + id].$touched || formname.$submitted">
        <p ng-messages-include="error_messages"></p>
    </div>
</div>


<!--error handling off-->
<div ng-if="!errorHandling" ng-include="template"></div>