<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div ng-include="partials + 'input.html'">
	</div>
	<div class="contributor-input">
		<div class="pill pad-right" ng-repeat="item in displayItems() | limitTo: display | orderBy:$index:true track by $index"><span>{{item.user.userDimension.firstName}} {{item.user.userDimension.lastName}}</span><span class="icon-Close" ng-click="remove(item)"></span></div>
		<div class="pill pad-right" ng-show="showAll()" ng-click="openModal('contributors')"><span>...</span></div>
	</div>
	<button type="button" ng-show="showAll()" class="btn btn-primary small-top-margin"  ng-click="openModal('contributors')">View All <span>({{displayItems().length}})</span></button>
</div>