<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div ng-include="partials + 'input.html'"></div>
	</div>
	<div class="contributor-input col-lg-9">
		<div class="pill pad-left" ng-repeat="item in items | limitTo: display | orderBy:$index:true track by $index"><span>{{item.userFirstName}} {{item.userLastName}}</span><span class="icon-Close" ng-click="remove(item)"></span>{{item}}</div>
	</div>
</div>
<div class="user-details">
    <span class="padding-right-20">
        {{items[0].userDimension.emailAddress}}
    </span>
    <span class="padding-right-20">
        {{items[0].userDimension.workPhone}}
    </span>
    <br />
    <span class="padding-right-20">
        {{items[0].userDimension.cghcountryDescription}}
    </span>
    <span class="padding-right-20">
        {{items[0].userDimension.department}}
    </span>
</div>
