<div class="form-section">
	<div class="row" ng-show="details.selectedItem.portfolioId">
		<div class="pull-left">Portfolio Details section</div>
		<div class="pull-right"><a class="btn btn-link" ng-click="details.sendForEdit(details.selectedPage, details.selectedItem.portfolioId)">Edit</a></div>
	</div>
	<div class="row" ng-show="details.selectedItem.baseIdeaId">
		<div class="pull-left">Idea Details section</div>
		<div class="pull-right"><a class="btn btn-link" ng-click="details.sendForEdit(details.selectedPage, details.selectedItem.baseIdeaId)">Edit</a></div>
	</div>
	<div class="row">
		{{ details.selectedItem.baseIdeaId }} <br>
		{{ details.selectedItem.ideaCommentary }} <br>
		{{ details.selectedItem.ideaTitle }} <br>
		{{ details.selectedItem.targetPrice }} 
	</div>

	<div class="row">
		{{ details.selectedItem.portfolioId }} <br>
		{{ details.selectedItem.portfolioShortName }} <br>
		{{ details.selectedItem.portfolioContributors.length }} <br>
		{{ details.selectedItem.portfolioOwner.userDimension.firstName }} 
	</div>

	
    <div ng-repeat="portfolios in details.selectedItem.portfolioIdeas track by $index" ng-if="$index % 3 == 0" class="row">
        <div class="col-lg-4 col-md-4 col-sm-4" ng-if='$index < details.selectedItem.portfolioIdeas.length'>
        	<details-comp detaildata="details.selectedItem.portfolioIdeas[$index]"> </details-comp>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" ng-if='$index + 1 < details.selectedItem.portfolioIdeas.length'>
        	<details-comp detaildata="details.selectedItem.portfolioIdeas[$index + 1]"></details-comp>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" ng-if='$index + 2 < details.selectedItem.portfolioIdeas.length'>
        	<details-comp detaildata="details.selectedItem.portfolioIdeas[$index + 2]"></details-comp>
        </div>
    </div>

</div>
