//@import './bootswatch.scss';
@import './variables.scss';
@import './toastr';
@import '../../../../node_modules/angular-toastr/dist/angular-toastr.css';

//////////////////////////////////////
/////// HTML Tweaks
//////////////////////////////////////

//remove spiner from number fields
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

//////////////////////////////////////
/////// Mixins
//////////////////////////////////////
@mixin vertical-align($position: relative) {
  position: $position  !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}



//////////////////////////////////////
/////// Single purpose modifications
//////////////////////////////////////
.pointer {
	cursor: pointer;
}

.all-caps{
    text-transform: uppercase;
}

.faded-50{
	opacity: 0.5;
}

.nopadding{
	padding: 0px !important;
}

.padding-right-5{
	padding-right: 5px !important;
}

.padding-right-20{
	padding-right: 20px !important;
}

.padding-left-5{
	padding-left: 5px !important;
}

.padding-top-5{
	padding-top: 5px !important;
}

.padding-bottom-5{
	padding-bottom: 5px !important;
}

.padding-bottom-20{
	padding-bottom: 20px !important;
}

.padding-5{
	padding: 5px !important;
}

.padding-right-3{
	padding-right: 3px !important;
}

.padding-left-3{
	padding-left: 3px !important;
}

.padding-left-2{
	padding-left: 2px !important;
}

.padding-top-3{
	padding-top: 3px !important;
}

.padding-bottom-3{
	padding-bottom: 3px !important;
}

.padding-3{
	padding: 3px !important;
}

.medium-padding-right{
	padding-right: 6px;
}

.small-padding-top{
	padding-top: 4px;
}

.padding-left{
	padding-left: 15px;
}

.margin-left{
	margin-left: 5px;
}

.margin-left-10{
	margin-left: 10px;
}

.margin-right{
	margin-right: 5px;
}

.margin-right-10{
	margin-right: 10px;
}

.close-idea-grid-row {
	height: 35px;
}

.remove-top-margin{
	margin-top: -17px;
}

.small-top-margin{
	margin-top: 2px;
}

.medium-top-margin{
	margin-top: 5px;
}

.large-top-margin{
	margin-top: 20px;
}

.gutter-space {
	margin-bottom: 2px;
}



//////////////////////////////////////
/////// Generic modifications
//////////////////////////////////////

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-flow{
  display: flex;
  flex-flow: row wrap;
}

//////////////////////////////////////
/////// ui-select
//////////////////////////////////////

.ui-select-container{
	min-width: 80px;
	// width: 100%;
}

.btn.ui-select-toggle{
	outline: none !important;
	border: none !important;
	font-family: $font-light;
	font-size: 10px;
	outline: none;
	color: $white;
	border-radius: 2px;
	padding: 5px 8px 5px 7px;
	background-color: $blue1;
	&:hover{
		background-color: $blue6;
	}
	&:focus{
		outline: none;
	}
}

.ui-select-search{
	display:none;
}
// .ui-select-search{
// 	outline: none !important;
// 	border: none !important;
// 	background-color:$blue1;
// 	color: white;
// 	border-radius: 2px;
// }

.ui-select-choices-row{
	font-family: $font-light;
	color: $white;
	margin: 1px 1px 0px 1px;
	padding: 5px 7px;
	border-radius: 2px;
	// &.active{
	// 	background-color:rgba($blue6 , 0.5);
	// }
	&:hover{
		background-color: $blue6;	
	}
}

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice{
	border-radius: 2px;
	background-color: $blue1;
	border: none;
	z-index: 99999;
	box-shadow: none !important;
}

//top gap 
.open > .dropdown-menu{
	// border-top: 3px solid transparent;
	top: 26px;
}



// Input font styles
*::-webkit-input-placeholder {
	//chrome safari blink
    font-family: Interstate-RegularItalic;
	color: $gray3;
	text-transform: none !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    font-family: Interstate-RegularItalic;
	color: $gray3;
	text-transform: none !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    font-family: Interstate-RegularItalic;
	color: $gray3;
	text-transform: none !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    font-family: Interstate-RegularItalic;
	color: $gray3;
	text-transform: none !important;
}



/****************************   Modal dialog **************************/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(50, 50, 50, 0.5);
	z-index: 99999;
	opacity: 1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}

.modalDialog>div {
	width: 200px;
	position: relative;
	margin: 10% auto;
	padding: 8px 5px 5px 5px;
	border: 2px solid #C0C0C0;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align: center;
	box-shadow: 3px 3px 10px #404040;
}

.closemod {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.closemod:hover {
	background: #00d9ff;
}


/* Custom dialog/modal headers */
.dialog-header-warning {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d3a00+0,6d3a00+4,2d1600+14,6d3a00+91,6d3a00+100 */
		background: #6d3a00; /* Old browsers */
		// background: -moz-linear-gradient(top,  #6d3a00 0%, #6d3a00 4%, #2d1600 14%, #6d3a00 91%, #6d3a00 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top,  #6d3a00 0%,#6d3a00 4%,#2d1600 14%,#6d3a00 91%,#6d3a00 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom,  #6d3a00 0%,#6d3a00 4%,#2d1600 14%,#6d3a00 91%,#6d3a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d3a00', endColorstr='#6d3a00',GradientType=0 ); /* IE6-9 */
}

.dialog-header-error {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#930c0c+0,930c0c+100 */
		background: #930c0c; /* Old browsers */
		// background: -moz-linear-gradient(top,  #930c0c 0%, #930c0c 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top,  #930c0c 0%,#930c0c 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom,  #930c0c 0%,#930c0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#930c0c', endColorstr='#930c0c',GradientType=0 ); /* IE6-9 */
}

.dialog-header-info {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c3a68+0,0c3a68+100 */
		background: $blue3; /* Old browsers */
		// background: -moz-linear-gradient(top,  #0c3a68 0%, #0c3a68 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top,  #0c3a68 0%,#0c3a68 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom,  #0c3a68 0%,#0c3a68 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3a68', endColorstr='#0c3a68',GradientType=0 ); /* IE6-9 */
}

.dialog-header-wait {
	background-color: #428bca;
}

.dialog-header-notify {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0b3661+1,2f516d+6,0b3661+21,0b3661+83,3b668a+98,0b3661+100 */
		background: $blue3; /* Old browsers */
		// background: -moz-linear-gradient(top,  #0b3661 1%, #2f516d 6%, #0b3661 21%, #0b3661 83%, #3b668a 98%, #0b3661 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top,  #0b3661 1%,#2f516d 6%,#0b3661 21%,#0b3661 83%,#3b668a 98%,#0b3661 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom,  #0b3661 1%,#2f516d 6%,#0b3661 21%,#0b3661 83%,#3b668a 98%,#0b3661 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b3661', endColorstr='#0b3661',GradientType=0 ); /* IE6-9 */
}

.dialog-header-confirm {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c3a68+0,0c3a68+100 */
		background: $blue3; /* Old browsers */
		// background: -moz-linear-gradient(top,  #0c3a68 0%, #0c3a68 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top,  #0c3a68 0%,#0c3a68 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom,  #0c3a68 0%,#0c3a68 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3a68', endColorstr='#0c3a68',GradientType=0 ); /* IE6-9 */
}

.dialog-header-error span,.dialog-header-error h4,.dialog-header-wait span,.dialog-header-wait h4,.dialog-header-confirm span,.dialog-header-confirm h4
	{
	color: #fff;
	/* text-shadow: 1px 1px 1px #fff; */
}
/**************************************** End Modal Dialog ******************************************/

/***** bootstrap overrides ********/

.navbar .open > .dropdown-menu {
    top: 60px;
}

.image {
    width: 160px;
    height: auto;
    margin-left: 15px;
    margin-top: 5px;
    border: 4px solid #5c8b91;
    border-radius: 15px;
    box-shadow: 3px 3px 2px #2c3e50;
}