.lpath {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.idea-perf-line-chart {
  width:100px;
  height: 40px;
  //background-color: #bababa;
}

idea-perf-diff-chart {
  width:120px;
  height: 120px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.area.above {
  fill: #D4D4FF;
}

.area.below {
  fill: #E6D8B5;
}

.lineAbs {
  fill: none;
  stroke: #AD513F;  /* brown */
  stroke-width: 1.5px;
}
.lineRel {
  fill: none;
  stroke: #314EE0;  /* royal blue */
  stroke-dasharray: 3,3;
  stroke-width: 1.5px;
}

.svg-container svg {
	background-color: #bdd8b7;
}