#home-header {
  text-align: center;
}

.full-page {
	height: calc(100vw - 0);
	margin-bottom: -15px;
}

.tab-nav {
	padding: 0;
	margin: auto;
	left: 0;
}

.tab-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 0 0 -15px;
  padding: 0;
}

.tab-nav li {
  flex-basis: 80px;
  text-align: "left";
}

.tab-nav li.active a {
  text-decoration: underline;
  color: black;
}


.tab-nav a {
  text-decoration: none;
  color: black;
  color: #00a9d9;
}

.tab-nav a:hover {
  text-decoration: underline;
}

.animate-switch-container {
  position:relative;
  // background:white;
  // border:1px solid black;
  // overflow:hidden;
}

.animate-switch {
  // padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-5px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}

.activeSelectedTabItem {
  border: 8px solid #568db2;
  position: relative;
  display: block;
}

.activeSelectedTabItem:after {
  content: '';
  display: block;  
  position: absolute;
  left: calc(100% + 8px);
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #568db2;
}
